

body {
    background: -moz-linear-gradient(-45deg, #1e2931 0%, #384c59 37%, #384c59 58%, #232f37 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e2931 0%,#384c59 37%,#384c59 58%,#232f37 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e2931 0%,#384c59 37%,#384c59 58%,#232f37 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
#movies img, 
#movie img {
    max-width: 100%;
    width: 100%;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    height: 280px;
}

#movies .col-md-4  {
    display: flex;
    color: #282828 !important;
}

#movies .col-md-4 .well {
    margin-bottom: 30px;
    /* box-shadow: 0px 10px 35px rgba(0, 0, 0, .15); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    flex: 1;
    position: relative;
    width: 100%;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
}
.well h5 {
    color: #282828;
    font-size: 1rem;
    /* text-align: center; */
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    margin: 0 0 8px 0;
}
.well .btn {
    /* position: absolute;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px; */
    color: #FF0079;
    border-radius: 5px;
    border: 1px solid #FF0079;
    transition: all .5s ease;
}
.well .btn:hover {
    color: #fff;
    background-color: #FF0079;
    border: 1px solid #fff;
}

.dsc-box {
    text-align: center;
    padding: 15px;
    background-color: #fff;
}

.imdb-score {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    right: -25px;
    bottom: 70px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 52px;
    border-radius: 50%;
    background: -webkit-linear-gradient(top, #fb9000 0%,#cf7906 100%); /* Chrome10-25,Safari5.1-6 */
    background: -moz-linear-gradient(top, #fb9000 0%, #cf7906 100%); /* FF3.6-15 */ 
    background: linear-gradient(to bottom, #fb9000 0%,#cf7906 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    transition: all .5s ease;
}
.movie-dsc {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 25%;
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 15px;
    padding: 15px;
    height: 75%;
    opacity: 0;
    transition: all .4s ease;
    z-index: 999;
    overflow: hidden;
}

.well:hover .imdb-score {
   opacity: 0;
}

.well:hover .movie-dsc {
    opacity: 1;
    cursor: pointer;
}


@media (max-width: 575px) and (min-width: 380px) {
    .col-md-4 {
        max-width: 320px;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
   body,
   .container {
        width: 320px;
   }
}
