

body {
    background-color: #fff;
}
#movies img, 
#movie img {
    max-width: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 280px;
}

#movies .col-md-3  {
    display: flex;
     color: #282828 !important;
}

#movies .col-md-4 .well {
    margin-bottom: 30px;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, .15);
    flex: 1;
    position: relative;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.well h5 {
    color: #282828;
    font-size: 1rem;
    /* text-align: center; */
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    margin: 0 0 8px 0;
}
.well .btn {
    /* position: absolute;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px; */
    color: #FF0079;
    border-radius: 5px;
    border: 1px solid #FF0079;
    transition: all .5s ease;
}
.well .btn:hover {
    color: #fff;
    background-color: #FF0079;
    border: 1px solid #fff;
}

.dsc-box {
    text-align: center;
    padding: 15px;
}

.well-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: 24%;
    z-index: 100;
    opacity: 0;
    background-color: rgba(0, 0, 0, .6);
    transition: all .5s ease;
}

.well-hover:hover {
    opacity: 1;
    cursor: pointer;
}

.well-hover span {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 575px) and (min-width: 380px) {
    .col-md-4 {
        max-width: 320px;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
   body,
   .container {
        width: 320px;
   }
}
